@page
@using SejlklubLibrary.Models
@model Razor.Pages.Members.ShowMembersModel
@{
	ViewData["Title"] = "Show Members";
}

<h1>Antal Medlemmer: @Model.Members.Count </h1>

<p>
	<a asp-page="AddMembers">Opret Medlem</a>
</p>
<form>
	søg navn: <input type="text" asp-for="@Model.FilterCriteriaName" />
	<input type="submit" value="filtrer" />
</form>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Navn</th>
			<th>Addresse</th>
			<th>Email</th>
			<th>Telefon</th>
			<th>Medlems Status</th>
			<th>Billed</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Member item in Model.Members)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.Address</td>
				<td>@item.Email</td>
				<td>@item.Phone</td>
				<td>@item.MemberStatus</td>
				<td>
					<img src="/images/memberImages/@item.MemberImage" class="rounded-circle" width="80" height="70" />
				</td>
				<td><a asp-page="EditMembers" asp-route-id="@item.Id">Opdater</a></td>
				<td><a asp-page="DeleteMembers" asp-route-deletePhone="@item.Phone">Slet</a></td>
			</tr>
		}
	</tbody>
</table>