@page
@using SejlklubLibrary.Models
@model Razor.Pages.Members.ShowMembersModel
@{
	ViewData["Title"] = "Show Members";
}

<h1>Antal Medlemmer @Model.Members.Count </h1>

<p>
	<a asp-page="AddMembers">Add Member</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Navn</th>
			<th>Email</th>
			<th>Telefon</th>
			<th>Medlems Status</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Member item in Model.Members)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.Email</td>
				<td>@item.Phone</td>
				<td>@item.MemberStatus</td>
				<td><a asp-page="EditMembers" asp-route-id="@item.Id">Edit</a></td>
				<td><a asp-page="DeleteMemebers" asp-route-deletePhone="@item.Phone">Delete</a></td>
			</tr>
		}
	</tbody>
</table>