@page
@model Razor.Pages.Events.AddEventModel
@{
    ViewData["AddEvent"] = "TilføjEvent";
}

@{
    if (!string.IsNullOrEmpty(@Model.ErrorMessage))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
            <strong>Warning!</strong> @Model.ErrorMessage
        </div>
    }
}
<h1>Opret Event</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Name" class="Control-label"></label> <br />
                <input asp-for="@Model.Name" class="form-contol" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.EventType" class="Control-label"></label> <br />
                <input asp-for="@Model.EventType" class="form-contol" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.Date" class="Control-abel"></label> <br />
                <input asp-for="@Model.Date" class="form-cotrol" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.Location" class="Control-label"></label> <br />
                <input asp-for="@Model.Location" class="form-cotrol" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.Description" class="Control-label"></label> <br />
                <input asp-for="@Model.Description" class="form-control" />
            </div>
            <br />
            <div>
                <input type="submit" value="Opret" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <form method="Post">
        <a asp-page="/Events/ShowEvents">Gå tilbage til begivenheder</a>
    </form>
</div>
