@page
@model Razor.Pages.Events.DeleteEventsModel
@{
    ViewData["Title"] = "SletEvent";
}

<h1>Slet event:</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Event.Id" class="Control-laabel"></label> <br />
                <input asp-for="@Model.Event.Id" class="form-conrol" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.Event.Name" class="Control-laabel"></label> <br />
                <input asp-for="@Model.Event.Name" class="form-conrol" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.Event.EventType" class="Control-laabel"></label> <br />
                <input asp-for="@Model.Event.EventType" class="form-conrol" />
            </div>
            <br />
            <br />
            <div class="form-group">
                <label asp-for="@Model.Event.Date" class="Control-laabel"></label> <br />
                <input asp-for="@Model.Event.Date" class="form-conrol" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.Event.Location" class="Control-laabel"></label> <br />
                <input asp-for="@Model.Event.Location" class="form-conrol" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.Event.Description" class="Control-laabel"></label> <br />
                <input asp-for="@Model.Event.Description" class="form-conrol" />
            </div>
            <br />
            <div>
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <form method="Post">
        <a asp-page="/Events/ShowEvents">Gå tilbage til begivenheder</a>
    </form>
</div>
