@page
@model Razor.Pages.Events.DeleteEventsModel
@{
    ViewData["Title"] = "SletEvent";
}

<h1>Slet event:</h1>

<div class="row">
    <div class="col-md-4">
        <form methos="post">
            <div claass="form-group">
                <label asp-for="@Model" class="Control-laabel"></label>
                <input asp-for="@Model" class="form-conrol"/>
            </div>
            <div claass="form-group">
                <label asp-for="@Model" class="Control-laabel"></label>
                <input asp-for="@Model" class="form-conrol" />
            </div>
            <div claass="form-group">
                <label asp-for="@Model" class="Control-laabel"></label>
                <input asp-for="@Model" class="form-conrol" />
            </div>
            <div claass="form-group">
                <label asp-for="@Model" class="Control-laabel"></label>
                <input asp-for="@Model" class="form-conrol" />
            </div>
        </form>
    </div>
</div>
