@page
@using SejlklubLibrary.Models
@model Razor.Pages.Events.ShowEventsModel
@{
    ViewData["Title"] = "Begivenheder";
}

<h1>Begivenheder:</h1>
<hr />
<br />
<p>Antal oprettede begivenheder @Model.Events.Count </p> 

<table>
    <thead>
        <tr>
            <td>Navn<br />Dato</td>
            <td>Localitet</td>
            <td>Beskrivelse</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Event events in Model.Events)
        {
            <tr>
                <td>@events.Name <br />@events.Date</td>
                <td>@events.Location</td>
                <td>@events.Description</td>
@*              <td><a asp-page="EditCustomer" asp-route-id="@events.Id">Tilmeld</a></td> *@
                <td><a asp-page="EditEvents" asp-route-id="@events.Id">Rediger</a>   <a asp-page="DeleteEvents" asp-route-deleteMobile="@events.Id">Slet</a></td>
            </tr>
        }
    </tbody>

</table>