@page
@using SejlklubLibrary.Models
@model Razor.Pages.Events.ShowEventsModel
@{
    ViewData["Title"] = "ShowEvents";
}
<h1>Begivenheder:</h1>
<a asp-page="/Events/AddEvent">Opret begivenhed</a>

<hr />
<p>Antal oprettede begivenheder: @Model.Events.Count</p>
<table style="width:85%" class="table">
    <thead style="background-color:lightskyblue;border-radius:60px">
        <tr>
            <td>ID</td>
            <td>Navn, Dato og tid</td>
            <td>Sted</td>
            <td>Beskrivelse</td>
            <td>Antal deltagerer</td>
            <td></td>
            <td></td>

        </tr>
    </thead>
    <tbody>
        @foreach (Event events in Model.Events)
        {
            <tr>
                <td style="background-color:lightgray;text-align:center">@events.Id</td>
                <td><b>@events.Name</b> <br />Dato: <em>@events.Date </em></td>
                <td>@events.Location</td>
                <td>@events.Description</td>
                <td></td>
                <td><a asp-page="UpdateEvents" asp-route-EditId="@events.Id">Rediger</a></td>
                <td><a asp-page="DeleteEvents" asp-route-deleteId="@events.Id">Slet</a></td>
            </tr>
        }
    </tbody>
</table>
