@page
@using SejlklubLibrary.Models
@model Razor.Pages.Events.ShowEventsModel
@{
    ViewData["Title"] = "ShowEvents";
}
<h1>Begivenheder:</h1>
<a asp-page="/Events/AddEvent">Opret begivenhed</a>

<hr />
<p>Antal oprettede begivenheder: @Model.Events.Count</p>

<h2>Filtrering og søgning af begivenheder:</h2>
<form method="post" asp-page-handler="FiltherByEventType">
    <label> vælg begivenheds type:</label>
    <select id="ChosenEventType"
            name="ChosenEventType"
            asp-for="@Model.ChosenEventType"
            asp-items="@Model.SelectListEventTypes">
    </select>
    <input type="submit" value="Filtrer" class="btn btn-primary" />
</form>


<table style="width:85%" class="table">
    <thead style="background-color:lightskyblue;border-radius:60px">
        <tr>
            <td>ID</td>
            <td>Navn, Dato og tid</td>
            <td>sted og event type</td>
            <td>Sted</td>
            <td>Beskrivelse</td>
            <td>Antal Deltagerer</td>
            <td></td>
            <td></td>

        </tr>
    </thead>
    <tbody>
        @foreach (Event events in Model.Events)
        {
            <tr>
                <td style="background-color:lightgray;text-align:center">@events.Id</td>
                <td><b>@events.Name</b> <br />Dato: <em>@events.Date </em></td>
                <td><u>Sted:</u> @events.Location <br />@events.EventType</td>
                <td>@events.Description</td>
                <td>
                    <br /><a style="padding:2px;" asp-page="Participate" asp-route-eventId="@events.Id">Tilmeld</a></td>
                <td><a asp-page="UpdateEvents" asp-route-editId="@events.Id">Rediger</a></td>
                <td><a asp-page="DeleteEvents" asp-route-deleteId="@events.Id">Slet</a></td>
            </tr>
        }
    </tbody>
</table>
