@page
@using SejlklubLibrary.Models
@model Razor.Pages.Bookings.AddBookingModel
@{
    ViewData["Title"] = "AddBooking";
}

<a asp-page="/Bookings/ShowBookings">Tilbage til bookingoversigt</a>
<br><br>
<h1> Ny booking </h1>

<hr />

@{
    if (!string.IsNullOrEmpty(@Model.MessageBooking))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
            <strong>Warning!</strong> @Model.MessageBooking
        </div>
    }
}

<h3> Select Member </h3>
<form method="post" asp-page-handler="Member">
    <p>
        Mobile: <input type="text" asp-for="SearchMemberPhone" />
        <input type="submit" value="Search member" />
    </p>
</form>

@{
    if (@Model.Member != null)
    {
        <p> <b>Navn:</b> @Model.Member.Name </p>
        <p> <b>Adresse:</b> @Model.Member.Address </p>
        <p> <b>Telefon:</b> @Model.Member.Phone </p>
    }
}

<br>

<h3> Booking: </h3>

<form method="post" asp-page-handler="NewBoatChosen">
    <div class="form-group">
        <label>Bådtype</label><br>
        <select id="ChosenBoatType" name="ChosenBoatType"
                asp-for="@Model.ChosenBoatType"
                asp-items="@Model.BoatTypeSelectList"
                onchange="this.form.submit()">
        </select>
    </div>
</form>
<br>
@{
    if (@Model.Boat != null)
    {
        <p> <b>Bådtype:</b> @Model.Boat.BoatType </p>
        <p> <b>Navn:</b> @Model.Boat.Name </p>
        <p> <b>Mål:</b> @Model.Boat.Measurement </p>
        <p> <b>Motor:</b> @Model.Boat.Engine </p>
        <p> <b>Byggeår:</b> @Model.Boat.BuildYear </p>
    }
}

<br>

<form method="post" asp-page-handler="NewDateChosen">
    <div class="form-group">
        <label>Dato</label><br>
        <input type="date" name="ChosenDate" asp-for="ChosenDate"
               onchange="this.form.submit()">
    </div>
</form>
<form method="post" asp-page-handler="AcceptBooking">
    <div class="form-group">
        <label>Sted</label><br>
        <input asp-for="@Model.ChosenLocation" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tidspunkt</label><br>
        <select id="ChosenTime" name="ChosenTime"
                asp-for="@Model.ChosenTime"
                asp-items="@Model.TimeSelectList">
        </select>
    </div>
    <br><br>
    <input type="submit" value="Accepter booking"/><br><br>
</form>