@page
@using SejlklubLibrary.Models
@model Razor.Pages.Bookings.AddBookingModel
@{
    ViewData["Title"] = "AddBooking";
}

<a asp-page="/Bookings/ShowBookings">Tilbage til bookingoversigt</a>
<br><br>
<h1> Ny booking </h1>

<hr />
<h3> Select Member </h3>
<form method="post" asp-page-handler="Member">
    <p>
        Mobile: <input type="text" asp-for="SearchMemberPhone" />
        <input type="submit" value="Search member" />
    </p>
</form>
@{
    if (@Model.Member != null)
    {
        <h5> @Model.Member.Name </h5>
        <h5> @Model.Member.Address </h5>
        <h5> @Model.Member.Phone </h5>
    }
}

<br>

<h3> Booking: </h3>
@* <form method="post" asp-page-handler="NewBoatChosen">
    <div class="form-group">
        <label>Bådtype</label><br>
        <select id="ChosenBoatType" name="ChosenBoatType"
                asp-for="@Model.ChosenBoatType"
                asp-items="@Model.BoatTypeSelectList"
                onchange="this.form.submit()">
        </select>
    </div>
</form> *@

<form method="post" asp-page-handler="AcceptBooking">
    <div class="form-group">
        <label>Dato</label><br>
        <input type="date" name="ChosenDate" asp-for="ChosenDate">
    </div>
    <div class="form-group">
        <label>Bådtype</label><br>
        <select id="ChosenBoatType" name="ChosenBoatType"
                asp-for="@Model.ChosenBoatType"
                asp-items="@Model.BoatTypeSelectList">
@*             @foreach (var time in Model.AvailableTimes)
            {
                bool isDisabled = Model.BookedTimes.Contains(time);
                <option value="@time" @(isDisabled ? "disabled" : "")>@time @(isDisabled ? "(Booked)" : "")</option>
            } *@
        </select>
    </div>
    <div class="form-group">
        <label>Sted</label><br>
        <input asp-for="@Model.ChosenLocation" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tidspunkt</label><br>
        <select id="ChosenTime" name="ChosenTime"
                asp-for="@Model.ChosenTime"
                asp-items="@Model.TimeSelectList">
        </select>
    </div>
    <br><br>
    <input type="submit" value="Accepter booking"/><br><br>
</form>