@page
@using SejlklubLibrary.Models
@model Razor.Pages.Bookings.ShowBookingsModel
@{
    ViewData["Title"] = "ShowBookings";
}

<h1>Bookingside</h1>
<a asp-page="/Bookings/AddBooking">Ny booking</a>

<hr />
<p>Antal oprettede begivenheder: @Model.Bookings.Count</p>
<table style="width:85%" class="table">
    <thead style="background-color:lightskyblue;border-radius:60px">
        <tr>
            <td>ID</td>
            <td>Dato</td>
            <td>Bådtype</td>
            <td>Bådnavn</td>
            <td>Starttidspunkt</td>
            <td>Sluttidspunkt</td>
            <td>Sted</td>
            <td>Booket af</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Bookings != null && Model.Bookings.Count > 0)
        {
            foreach (Booking booking in Model.Bookings)
            {
                <tr>
                    <td style="background-color:lightgray;text-align:center">@booking.Id</td>
                    <td>@booking.Date</td>
                    <td>@booking.Boat.BoatType</td>
                    <td>@booking.Boat.Name</td>
                    <td>@booking.StartTime</td>
                    <td>@booking.EndTime</td>
                    <td>@booking.Place</td>
                    <td>@if(@booking.Member != null ) { @booking.Member.Name }</td>
                    <td><a asp-page="DeleteBooking" asp-route-id="@booking.Id">Anuller booking</a></td>
                </tr>
            }
        }
    </tbody>
</table>